@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html{
    background-color: #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 3em;
    background-color: #00adef;
}

.headerSection,.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.landingInfo {
    visibility: visible;
}
.personalInfo, .successInfo {
    visibility: hidden;
    display: none;
}
.btn {
    background-color: #ee4135;
    border:0px solid;
    cursor: pointer;
    font-weight: bold;
}